@model PAW_CATALOG_PROJ.Models.Message

@{
    ViewData["Title"] = "Create Message";
}

<h1 class="mb-4">Create new message </h1>

<h4>Details </h4>
<hr />

<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Create" novalidate>
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

            <div class="mb-3">
                <label asp-for="FromId" class="form-label">From</label>
                <select asp-for="FromId" class="form-select" asp-items="ViewBag.FromId"></select>
                <span asp-validation-for="FromId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="To" class="form-label">To</label>
                <select asp-for="To" class="form-select" asp-items="ViewBag.To"></select>
                <span asp-validation-for="To" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Content" class="form-label">Message </label>
                <textarea asp-for="Content" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <div class="d-flex justify-content-between">
                <a asp-action="Index" class="btn btn-secondary">Back to the list</a>
                <button type="submit" class="btn btn-primary">Creează</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}