@model PAW_CATALOG_PROJ.Models.Message

@{
    ViewData["Title"] = "Edit Message";
}

<h1 class="mb-4">Edit Message</h1>

<h4 class="mb-3">Message Details</h4>
<hr />

<div class="row">
    <div class="col-md-6 col-lg-4">
        <form asp-action="Edit" novalidate>
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

            <input type="hidden" asp-for="Id" />

            <div class="mb-3">
                <label asp-for="FromId" class="form-label"></label>
                <select asp-for="FromId" class="form-select" asp-items="ViewBag.FromId"></select>
                <span asp-validation-for="FromId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="To" class="form-label"></label>
                <select asp-for="To" class="form-select" asp-items="ViewBag.To"></select>
                <span asp-validation-for="To" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Content" class="form-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-action="Index" class="btn btn-secondary ms-2">Back to List</a>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
