@model PAW_CATALOG_PROJ.Models.Group

@{
    ViewData["Title"] = "Create";
}

<div class="container mt-5">
    <h1 class="mb-4 text-primary fw-bold">Create Group</h1>

    <h4 class="mb-3">Group Details</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                <div class="mb-3">
                    <label asp-for="GroupNumber" class="form-label fw-semibold"></label>
                    <input asp-for="GroupNumber" class="form-control" />
                    <span asp-validation-for="GroupNumber" class="text-danger"></span>
                </div>
                <div>
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div class="mt-4">
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
